
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives></app-directives> -->
  <!-- <app-products></app-products> -->
  <!-- <app-demo1></app-demo1> -->
  <!-- <app-employeecrud></app-employeecrud> -->
  <!-- <app-pipes></app-pipes> -->
  <app-parent></app-parent>

  <!-- <app-mymodal>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
        </tr>
      </tbody>
    </table>
  </app-mymodal>
 -->
