
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives></app-directives> -->
  <!-- <app-products></app-products> -->
  <!-- <app-demo1></app-demo1> -->
  <!-- <app-pipes></app-pipes> -->
  <!-- <app-parent></app-parent>
  <app-trafficlight></app-trafficlight> -->
  
  <!-- <app-math1></app-math1>

  <hr/>

  <app-math2></app-math2> -->

  <!-- <app-employeeserviceassignment></app-employeeserviceassignment> -->
  <!-- <app-employeecrud></app-employeecrud> -->

  <!-- <app-httpdemo1></app-httpdemo1> -->
   
   <!-- <app-httpdemo2></app-httpdemo2> -->
   <!-- <app-user></app-user> -->

   <!-- <app-observabledemo1></app-observabledemo1> -->
    <!-- <app-observabledemo2></app-observabledemo2> -->
     <!-- <app-observabledemo3></app-observabledemo3> -->

     <!-- <div class="row">
  <div class="col-sm-3">
    <app-message1></app-message1>
  </div>
  <div class="col-sm-3">
    <app-message2></app-message2>
  </div>
  <div class="col-sm-3">
    <app-messageadd></app-messageadd>
  </div>
</div>

<hr/>
<app-subjectdemo1></app-subjectdemo1> -->


<!-- <hr/>

<app-signaldemo1></app-signaldemo1>

<hr/>

<app-signaldemo2></app-signaldemo2> -->


<!-- <app-employeesubject></app-employeesubject> -->
 <app-formdemo1></app-formdemo1>
  <!-- <app-formdemo2></app-formdemo2> -->
   <!-- <app-formdemo3></app-formdemo3> -->

<!-- <app-mymodal>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>data-1</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
        </tr>
      </tbody>
    </table>
  </app-mymodal>
 -->
 
