
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives></app-directives> -->
  <!-- <app-products></app-products> -->
  <!-- <app-demo1></app-demo1> -->
  <!-- <app-pipes></app-pipes> -->
  <!-- <app-parent></app-parent>
  <app-trafficlight></app-trafficlight> -->
  
  <!-- <app-math1></app-math1>

  <hr/>

  <app-math2></app-math2> -->

  <!-- <app-employeeserviceassignment></app-employeeserviceassignment> -->
  <!-- <app-employeecrud></app-employeecrud> -->

  <!-- <app-httpdemo1></app-httpdemo1> -->
   
   <!-- <app-httpdemo2></app-httpdemo2> -->
   <!-- <app-user></app-user> -->

   <app-observabledemo1></app-observabledemo1>
   

  <!-- <app-mymodal>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>data-1</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
        </tr>
      </tbody>
    </table>
  </app-mymodal>
 -->
 
