/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

.dark-theme {
  background-color: black;
  color:white;
  
}

.light-theme {
  background-color: white;
  color: black;
}